# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Git & metadata
.git/
.gitignore

# Jupyter / data
*.ipynb
data/
datasets/
notebooks/

# Frontend build
frontend/

# Local prediction outputs
predict_data/
